@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #050505;
        background-image:
            radial-gradient(circle at 15% 50%, rgba(255, 102, 0, 0.05) 0%, transparent 25%),
            radial-gradient(circle at 85% 30%, rgba(25, 185, 185, 0.05) 0%, transparent 25%);
        color: #e0e0e0;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}